body {
  /* background-color: rgb(248, 249, 250)!important; */
  margin: 0;
  padding-top: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* footer {
  background-color: white;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-dialog {
  max-width: 20rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.modal_button {
  width: 12rem !important;
}

.card_container {
  display:inline-block;
  position:relative;
}

.card_container button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.card_container p {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
}

.card_container span {
  position: absolute;
  top: 0;
  right: 0;
}

.totals_button_container button{
  width: 14rem;
}

.add_new_product{
  width: 100%;  
  height: 100%;
  min-height: 220px;
  background-color: rgba(0,0,0,.03);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
  color: rgba(128, 128, 128, 0.749);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_new_product:hover {
  background-color: rgba(0,0,0,.1);
  color: green;
}

.add_new_product button{
  
}

td {
  /* border: solid; */
  padding: 1rem;
}

.form_order {
  width: 100%;
  max-width: 24rem;
  padding: 15px;
  margin: 0 auto;
}

.modal_pic_wrapper {
  width: 100%;
  height: 192px;
  background-color: grey;
}

.cart_wrapper {
  display:inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  color: white;
}
.cart_wrapper div {
  position: absolute;
  background-color: teal;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  right: -6px;
  bottom: 0;
}

.hidden {
  display: none;
}


/* .lazy_loaded {
  min-width: 400px;
  min-height: 300px;
  background-color: grey; 
} */

/* .modal-content {
  margin: auto !important;
} */